# Unit 30. 위치인수와 키워드 인수

## 30.1 위치인수

In [23]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [24]:
print_numbers(10, 20, 30)

10
20
30

In [25]:
# *x - 리스트 언패킹, *y - tuple 언패킹
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [26]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [28]:
print_numbers2(10, 20, 30, 40)

10
20
30
40

### 고정인수와 가변인수

In [29]:
def print_nubers3(a, *args):
    print(a)
    print(args)

In [30]:
print_nubers3(1, 10, 20)

1
(10, 20)

In [31]:
print_nubers3(*x)

10
(20, 30)

In [32]:
# 가변 인수를 고정 인수보다 먼저 정할 수 없음
def print_nubers4(*args, a):
    print(args)
    print(a)

In [33]:
print_nubers4(*x)

TypeError: print_nubers4() missing 1 required keyword-only argument: 'a'

## 30.2 키워드 인수

In [34]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [35]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [37]:
# 위치와 관계없이 키워드로 매칭해주면 맞게 나옴
personal_info(age=30, name='홍길동', addr='서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [39]:
# 딕셔너리는 언패킹을 2번 해야함
x = {'name' : '홍길동', 'age' : 30, 'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [41]:
personal_info(*x)

이름: name
나이: age
주소: addr

### 가변 키워드 인수

In [42]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [44]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [45]:
personal_info2(name='홍길동', age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [51]:
def personal_info3(name, **kwargs):     # 고정인수 다음 가변인수
    print(name)
    print(kwargs)

In [52]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치인수 키워드인수

In [55]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [56]:
my_print(10, 20, 30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초깃값 지정하기

In [57]:
def personal_info4(name, age, addr='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [58]:
personal_info4('홍길동',30)

이름: 홍길동
나이: 30
주소: 비공개

In [60]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동