# Unit 25. 딕셔너리 응용

## 25.1 딕셔너리 조작

In [2]:
# 잘 쓰이지 않음
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [4]:
# update는 사용됨
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.update(a=90)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [6]:
x.update(e=100)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [7]:
# 하지만 가장 많이 사용 하는 방법
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x['e'] = 100
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [9]:
x['a'] = 90
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 100}

In [10]:
# 딕셔너리는 순서보장이 안되므로 pop['키'] 키값을 줘야 함
x.pop('e')
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

### 키-값 쌍 모두 가져오기

In [11]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [12]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [13]:
x.values()

dict_values([10, 20, 30, 40])

In [14]:
dict(zip(x.values(), x.keys()))

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [16]:
k = ('a', 'b', 'c', 'd')
v = (10, 20, 30, 40)
dict(zip(k,v))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

## 25.2 반복문

In [20]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(f'{key}:{value}')

a:10
b:20
c:30
d:40

In [19]:
for key in x.keys():
    print(f'{key}:{x[key]}')

a:10
b:20
c:30
d:40

In [21]:
for i, (k,v) in enumerate(x.items()):
    print(i, k, v)

0 a 10
1 b 20
2 c 30
3 d 40

## 25.3 딕셔너리 표현식 사용하기

In [23]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
x2 = {key: value * value for key, value in x.items()}
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [25]:
x2 = {}
for key, value in x.items():
    x2[key] = value * value
x2

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

## 25.4 딕셔너리 안에 딕셔너리 사용하기

In [26]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [27]:
terrestrial_planet['Venus']['mean_radius']

6051.8

In [32]:
find_ra = {'results': {'common': {'countPerPage': '10',   'currentPage': '1',   'errorCode': '0',   'errorMessage': '정상',
   'totalCount': '1'},
  'juso': [{'admCd': '4215013700',
    'bdKdcd': '0',
    'bdMgtSn': '4215013700100940000017657',
    'bdNm': '경포대',
    'buldMnnm': '365',
    'buldSlno': '0',
    'detBdNmList': '',
    'emdNm': '저동',
    'emdNo': '03',
    'engAddr': '365, Gyeongpo-ro, Gangneung-si, Gangwon-do',
    'jibunAddr': '강원도 강릉시 저동 94 경포대',
    'liNm': '',
    'lnbrMnnm': '94',
    'lnbrSlno': '0',
    'mtYn': '0',
    'rn': '경포로',
    'rnMgtSn': '421503220002',
    'roadAddr': '강원도 강릉시 경포로 365(저동)',
    'roadAddrPart1': '강원도 강릉시 경포로 365',
    'roadAddrPart2': '(저동)',
    'sggNm': '강릉시',
    'siNm': '강원도',
    'udrtYn': '0',
    'zipNo': '25461'}]}}

In [43]:
find_ra['results']['juso'][0]['roadAddr']

'강원도 강릉시 경포로 365(저동)'

In [44]:
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [58]:
a = float(result['documents'][0]['x'])
b = float(result['documents'][0]['y'])
print(f'X는{a:.3f}, Y는{b:.3f}')

X는128.897, Y는37.796