# Unit 10. 리스트와 튜플 사용하기

- [ ]  리스트
- ( )  튜플
- { }  딕셔너리, 세트
- np   넘파이 : 리스트를 어레이라고 함
- pd   판다스

## 10.1 리스트(list)

In [36]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [37]:
# 파이썬에선 리스트 엘리먼트가 다른 자료형도 가능함
person = ['James', 19, 175.4, True, [120, 80]]
person

['James', 19, 175.4, True, [120, 80]]

In [38]:
# 딕셔너리 형태로 정리하는게 알아보기 쉬움 {키 : 값}
person_dict = {'name' : 'James', 'age' : 19, 'height' : 175.4, 'is_male' : True, 'bp' : [120, 80]}
print(person_dict)

{'name': 'James', 'age': 19, 'height': 175.4, 'is_male': True, 'bp': [120, 80]}

### 빈 리스트 만들기

In [39]:
a = []
b = list()
a, b

([], [])

In [40]:
a, b = [], []
a, b

([], [])

### range
- range([시작숫자,]끝나는 숫자+1 [,증가분])

In [41]:
a = range(10)
a

range(0, 10)

In [42]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [45]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [46]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)

In [47]:
a = (38, 21, 47)
a

(38, 21, 47)

In [48]:
a = 38, 21, 48
a

(38, 21, 48)

In [35]:
person = ('James', 19, 175.4, True, [120, 80])
person

('James', 19, 175.4, True, [120, 80])

In [49]:
# a는 튜플
a = (13, )
a

(13,)

In [50]:
# b는 정수
b = (38)
b

38

In [51]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 < > 튜플 전환

In [53]:
a = [1, 2, 3]
b = tuple(a)
print(a)
print(b)

[1, 2, 3]
(1, 2, 3)

In [54]:
c = list(b)
c

[1, 2, 3]

In [57]:
# 객체가 1개면 튜플로 못만듬
x = 10
tuple(x, )

TypeError: 'int' object is not iterable

In [59]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [61]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

### 언패킹 (Unpacking)

In [63]:
# tuple unpacking
a = (1, 3, 4)
x, y, z = a
a, x, y, z

((1, 3, 4), 1, 3, 4)

In [64]:
# list unpacking
x, y, z = [1, 3, 4]
x, y, z

(1, 3, 4)