# U.15

- 15.4 심사문제: 교통카드 시스템 만들기<br>
<br>
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨).<br>
교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요.(if, elif 사용).<br>
현재 교통카드에는 9,000원이 들어있습니다.<br>
<br>
어린이(초등학생, 만 7세 이상 12세 이하): 650원<br>
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원<br>
어른(일반, 만 19세 이상): 1,250원<br>

In [1]:
age = int(input())
balance = 9000    # 교통카드 잔액

if 7<= age <= 12:
    balance -= 650
elif 13<= age <=18:
    balance -= 1050
elif 19 <= age :
    balance -= 1250

print(balance)

8350

# U.16
- 16.6 심사문제: 구구단 출력하기<br>
표준 입력으로 정수가 입력됩니다.<br>
입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.<br>

In [ ]:
x = int(input())
for i in range(1,10):
    print(x,'*',i,'=',x*i)

# U17
- 17.6 심사문제: 교통카드 잔액 출력하기<br>
표준 입력으로 금액(정수)이 입력됩니다. <br>
1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요.<br>(input에서 안내 문자열은 출력하지 않아야 합니다). <br>
단, 최초 금액은 출력하지 않아야 합니다. <br>
그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [2]:
cash = int(input())
if cash > 1350:
    for i in range(cash // 1350):
        cash -= 1350
        print(cash)

8650
7300
5950
4600
3250
1900
550

In [ ]:
cash =int(input())

while cash >=1350:
    cash -= 1350
    print(cash)

# U18
- 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기<br>
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [3]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i> stop:
        break
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10

# U19
- 19.6 심사문제: 산 모양으로 별 출력하기<br>
표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [ ]:
count = int(input())

for i in range(count):
    for k in reversed(range(count)):
        if i < k:
            print(' ', end='')
        else:
            print('*', end='')
    
    for k in range(count - 1):
        if k < i:
            print('*', end='')           
    print()

# U22
- 22.10 심사문제: 2의 거듭제곱 리스트 생성하기<br>
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [ ]:
first, second = map(int, input().split())
test = []
for i in range(first, second+1):
    test.append(2**i)
test.pop(1)
test.pop(-2)
print(test)

# quiz
- a + b + c = 1000(a < b < c)

- a * a + b * b= c * c 인 피타고라스 수는?

In [6]:
for a in range(333):
    for b in range(a+1, 1000):
        for c in range(b+1, 1000):
            if a+b+c == 1000:
                if a * a + b * b == c * c:
                    print(a, b, c)

# a > 333 넘을 경우 a,b,c의 합이 1000이 넘으므로 계산 삭제
# b의 시작 숫자를 a+1 로, c의 시작 숫자를 b+1로해 a< b< c 확인 구문 삭제

200 375 425

In [5]:
for a in range(1, 333):
    for b in range (a+1, 500):
        c = 1000 - a - b
        if c * c == a * a + b * b:
            print (a, b, c)

200 375 425

# quiz 2
- 본인의 생일을 1998 12 15와 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하시오.

In [84]:
from datetime import date
today = date.today()
today.year, today.month, today.day

year, month, day = map(int, input().split())

real = today.year - year

if month > today.month:
    if day < today.day:
        print(real - 1)
else:
    print(real)

31

# quiz 3
- 디지털 시계에 하루동안(00:00~ 23:59) 3이 표시되는 시간을 초로 환산하면 총 몇초 일까?
- 디지털 시계는 하루동안 다음과 같이 시: 분 으로 표시됨 (00:00~23:59)

In [10]:
totla_seconds = 0
for hour in range(24):
    for min in range(60):
        time = str(hour) + str(min)
        if '3' in time:
            totla_seconds += 60
print(totla_seconds)

# 3이 표시 될때마다 60초 씩 +

29700