# Unit 22. 리스트와 튜플 응용하기

## 22.1 리스트 조작
- append: 요소 하나를 추가 / 99% 사용
- extend: 리스트를 연결하여 확장 / 1% 사용
- insert: 특정 인덱스에 요소 추가 / 사용 거의 안함

In [39]:
a = [10, 20, 30]

In [40]:
# 리스트 맨뒤에 요소 하나를 추가 하는 메소드
a.append(500)
a

[10, 20, 30, 500]

In [41]:
a.append(['x','y'])
a

[10, 20, 30, 500, ['x', 'y']]

In [42]:
b = [10,20,30]
b.extend(['x','y'])
b

[10, 20, 30, 'x', 'y']

In [43]:
empty_list = []
for i in range(5):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [44]:
del a[3]
a

[10, 20, 30, ['x', 'y']]

### Stack and Queue

In [45]:
stack = []
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [46]:
# stack 으로부터 pop
value = stack.pop()
print(value, stack)

3 [1, 2]

In [47]:
stack

[1, 2]

In [48]:
# queue 에 insert
queue = []
queue.insert(0, 1); queue.insert(0,2), queue.insert(0,3)
queue

[3, 2, 1]

In [49]:
# queue로 부터 끄집어 내기
vlaue = queue.pop()
print(value, queue)

3 [3, 2]

### 다양한 메쏘드

In [53]:
a = list(range(10,61,10))
print(a.index(30))
print(a)

2
[10, 20, 30, 40, 50, 60]

In [54]:
a = [10, 20, 30, 40, 50, 10]
a.count(10)

2

In [55]:
a.count(45)

0

### 정렬(sort)

In [56]:
# 오름차순 정렬
a = [20, 10, 15, 30, 40]
a.sort()
a

[10, 15, 20, 30, 40]

In [58]:
b = [20, 10, 15, 30, 40]
sorted(b)

[10, 15, 20, 30, 40]

In [59]:
b

[20, 10, 15, 30, 40]

In [60]:
b = [20, 10, 15, 30, 40]
b = sorted(b)
b

[10, 15, 20, 30, 40]

In [61]:
# 내림차순 정렬
a = [20, 10, 15, 30, 40]
a.sort(reverse=True)
a

[40, 30, 20, 15, 10]

## 22.2 리스트 할당과 복사

In [65]:
 # Shallow copy, pointer만 복사
 a = [0, 0, 0, 0, 0]
 b = a
 b

[0, 0, 0, 0, 0]

In [66]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [67]:
a

[0, 0, 99, 0, 0]

In [71]:
 # 데이터를 전부 별도의 기억장소에 복사
 a = [0,0,0,0,0]
 b = a.copy()
 b

[0, 0, 0, 0, 0]

In [69]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [70]:
a

[0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [72]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

In [73]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

## 22.4 리스트에서 min, max, sum 함수 활용

In [75]:
a =  [38, 21, 53, 62, 19]
a.sort()
a[0]     #min(a)

19

In [76]:
a[-1]       #max(a)

62

In [79]:
a =  [38, 21, 53, 62, 19]
sorted(a)[0]        #min(a)

19

In [80]:
a =  [38, 21, 53, 62, 19]
sorted(a)[-1]        #max(a)

62

In [82]:
# a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list, sum(a)

(193, 193)

In [ ]:
# 함수와 같은이름의 변수를 생성시 오류 발생 함수가 실행되지 않음, 변수는 함수와 겹치지 않도록!
sum = 0
for elem in a:
    sum += elem
sum, sum(a)

## 22.5 리스트 표현식(Comprehension) 사용하기

In [83]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [84]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [85]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
list(i*i for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [89]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [90]:
[i*i for i in range(1,11) if i % 2 == 1]

[1, 9, 25, 49, 81]

### for 가 여러번 나오게 할 수 있음

In [92]:
a = [i * j for j in range(2, 10) for i in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [94]:
a = [i * j for i in range(2, 10)
             for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 map

In [96]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [99]:
a = [1.2, 2.5, 3.7, 4.6]
for i, val in enumerate(a):
    a[i] = int(val)
a

[1, 2, 3, 4]

In [100]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

## 22.7 tuple

In [101]:
tuple(i * i for i in range(1,11) if i % 2 == 0)

(4, 16, 36, 64, 100)